* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

/* header start */
header {
    padding: 20px 35px;
    background-color: #c20054;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; /* safari support */
    position: sticky;
    top: 0;
    z-index: 9999;
    
}
  
header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    border-bottom: 5px solid black;
    padding: 5px 5px;
    margin: 5px 5px;
    color: #fff;
}

header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    background-color: orange;
    border-bottom: none;
}

/* end header */

/* start footer */
footer {
    background: #c20054;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #fff;
    font-size: 12px;
    margin: 0;
    margin-left: auto;
}
/* end footer */

/* section start*/
section {
    padding: 60px;
    background-color: #c4f3ff;
}
/* section end */

/* hero start */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    height: 600px;
}

.hero-cta {
    width: 35%;
    text-align: left;
    margin: 1.5%;
    line-height: 1.2;
}

.hero-cta h2 {
    font-size: 60px;
}

.avatar img {
    border-radius: 15%;
    z-index: 800;
    width: 100%;
}

.hero h2, p {
    color: #ff005d;
}
/* hero end*/


.about, .work, .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.about-cta, .work-cta, .contact-cta {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
}

.about h2, .work h2, .contact h2 {
    justify-content: left;
    display: flex;
    box-sizing: content-box;
    flex-wrap: wrap;
    color: #ff005d;
    width: 10%;
    border-right: #c20054 solid;
    padding: 5px 5px 5px 5px;
}

/* About me start */
.about p {
    flex: 80%;
    margin-right: 5px;
    color: #c20054;
    padding: 0 0 0 30px;
}

/* About me end */

/* Work start */
.work-link img {
    width: 150px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: solid 3px #024e76;
    margin: 12px;
    display: inline-block;
    flex-direction: row;
}

.work-cta:first-child() {
    width: 100%;
    height: 100%;
}
/* Work end */

/* Contact Start */
.contact ul {
    flex: 80%;
    margin-right: 5px;
    color: #c20054;
    list-style: none;
    padding: 0 0 0 30px;
}

.contact ul li {
    flex: 80%;
    color: #c20054;
    display: inline;
    margin: 0 40px 0 0;
    font-weight: 50px;
    font-size: 36px;
}

.contact ul li a {
    flex: 80%;
    margin-right: 5px;
    color: #c20054;
}

.contact span {
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

/* Contact End */